@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using YemeniDriver.Data
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Yemeni Driver</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            margin: 0;
        }

        header {
            flex: 0 0 auto;
        }

        main {
            flex: 1 0 auto;
        }

        button {
            background-color: #28a745;
            color: #fff;
            padding: 10px 20px;
            font-size: 1em;
            cursor: pointer;
            border: none;
            transition: background-color 0.3s; /* Add a smooth transition effect */
        }

            button:hover {
                background-color: #218838; /* Change the background color on hover */
            }
        footer {
            flex-shrink: 0;
            border-top: 1px solid; /* 2p
        }
    </style>
</head>
<body>
    <header>

        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap" /></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                   
                </ul>

                @if (User.Identity.IsAuthenticated)
                {

                    var userId = User.FindFirst(ClaimTypes.NameIdentifier).Value;
                    var user = await UserManager.FindByIdAsync(userId);
                    var profileUrl = user.ProfileImageUrl;
                    if(User.IsInRole(Roles.Driver.ToString()))
                    {
                        <div class="dropdown text-end justify-content-center">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@profileUrl" width="32" height="32" class="rounded-circle" onerror="this.src='@Url.Content("~/Resources/emptyProfile.png")';">
                            </a>
                            <ul class="dropdown-menu text-small border-0 shadow w-220px rounded-3 mx-0 shadow w-220px" data-bs-theme="light">

                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="ViewDriverDetails" asp-route-driverId="@userId">Profile</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Dashboard" asp-action="DriverDashboard" asp-route-driverId="@userId">Dashboard</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="EditDriverDetails" asp-route-driverId="@userId">Settings</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Request" asp-action="GetDriverRequests" asp-route-driverId="@userId">Requests</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Trip" asp-action="GetTrips" asp-route-driverId="@userId">Trips</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <button class="dropdown-item rounded-2">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }else if(User.IsInRole(Roles.Passenger.ToString()))
                    {
                        <div class="dropdown text-end justify-content-center">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@profileUrl" width="32" height="32" class="rounded-circle" onerror="this.src='@Url.Content("~/Resources/emptyProfile.png")';">
                            </a>
                            <ul class="dropdown-menu text-small border-0 shadow w-220px rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="ViewPassengerDetails" asp-route-passengerId="@userId">Profile</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Dashboard" asp-action="PassengerDashboard">Dashboard</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="EditPassengerDetails" asp-route-passengerId="@userId">Settings</a></li>

                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <button class="dropdown-item rounded-2">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }
                    else
                    {
                        <div class="dropdown text-end justify-content-center">
                            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@profileUrl" width="32" height="32" class="rounded-circle" onerror="this.src='@Url.Content("~/Resources/emptyProfile.png")';">
                            </a>
                            <ul class="dropdown-menu text-small border-0 shadow w-220px rounded-3 mx-0 shadow w-220px" data-bs-theme="light">
                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="ViewAdminDetails" asp-route-adminId="@userId">Profile</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Dashboard" asp-action="AdminDashboard">Dashboard</a></li>
                                <li><a class="dropdown-item rounded-2" asp-controller="Account" asp-action="EditAdminDetails" asp-route-adminId="@userId">Settings</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <form asp-area="" asp-controller="Account" asp-action="Logout">
                                        <button class="dropdown-item rounded-2">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </div>
                    }

                }
           
            </div>
        </div>
       @*  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Yemeni Driver</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout">
                                    <button class="btn btn-outline-danger">Logout</button>
                                </form>
                            </li>
                        }
                       
                    </ul>
                </div>
            </div>
        </nav> *@
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="footer mt-auto py-3 bg-body-tertiary">
        <div class="container">
            <span class="text-body-secondary"> &copy; 2023 - Yemeni Driver - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></span>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
