@using YemeniDriver.ViewModel.Request
@model List<GetRequestsViewModel>

<h2>Requests</h2>

@if (Model.Count == 0)
{
    <p>No requests available.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Driver Name</th>
                <th scope="col">Request Time</th>
                <th scope="col">Pickup Location</th>
                <th scope="col">Dropoff Location</th>
                <th scope="col">Estimation Price</th>
                <th scope="col">Number of Seats</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var request in Model)
            {
                <tr>
                    <td scope="col">@request.DriverName</td>
                    <td scope="col">@request.PickupTime.ToString("yyyy-MM-dd HH:mm:ss")</td>
                    <td scope="col">@request.PickupLocation</td>
                    <td scope="col">@request.DropoffLocation</td>
                    <td scope="col">@request.EstimationPrice$</td>
                    <td scope="col">@request.NumberOfSeats</td>
                    <td scope="col">@request.Status</td>
                </tr>
            }
        </tbody>
    </table>
}
