@using YemeniDriver.ViewModel.Dashboard
@model AdminDashboardViewModel

<head>
    <link rel="stylesheet" href="~/css/Dashboard/AdminDashboardStyle.css" />
</head>

<h2>Drivers and Passengers</h2>

<div class="row">
    <div class="column">
        <h3>Drivers</h3>
        <div class="card-deck">
            @foreach (var driver in Model.Drivers)
            {
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">@driver.FirstName @driver.LastName</h4>
                        <p class="text-center">@driver.Location</p>
                        <img src="@driver.ProfileImageUrl" onerror="this.src='@Url.Content("~/Resources/emptyProfile.png")';">
                    </div>
                    <div class="card-body">
                        <p class="card-text">Gender: @driver.Gender</p>
                        <!-- Add more driver information as needed -->
                        <a asp-controller="Account" asp-action="ViewDriverDetails" asp-route-driverId="@driver.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="column">
        <h3>Passengers</h3>
        <div class="card-deck">
            @foreach (var passenger in Model.Passengers)
            {
                <div class="card">
                    <div class="card-header">
                        <h4 class="text-center">@passenger.FirstName @passenger.LastName</h4>
                        <p class="text-center">@passenger.Location</p>
                        <img src="@passenger.ProfileImageUrl" onerror="this.src='@Url.Content("~/Resources/emptyProfile.png")';">
                    </div>
                    <div class="card-body">
                        <!-- Add more passenger information as needed -->
                        <a asp-controller="Account" asp-action="ViewPassengerDetails" asp-route-passengerId="@passenger.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
