@using YemeniDriver.ViewModel.User
@model DriverDetailsViewModel




@{
    ViewData["Title"] = "Driver Dashboard";
}


<head>
    <link rel="stylesheet" href="~/css/Account/viewDriverDetailsStyle.css" />
</head>

<div class="container" id="custom-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="@Model.Image" class="card-img-top img-fluid" alt="Driver Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                    <p class="card-text"><strong>Email:</strong> @Model.Email</p>
                    <p class="card-text"><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                    <p class="card-text"><strong>Rating:</strong> @Model.Rating</p>
                    <p class="card-text"><strong>Location:</strong> @Model.Location</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Vehicle Details</h5>
                    <img src="@Model.ViewVehicle.VehiclImageUrl" id="vehicle-image" class="img-fluid" alt="Vehicle Image">
                    <p class="card-text"><strong>Make:</strong> @Model.ViewVehicle.Make</p>
                    <p class="card-text"><strong>Model:</strong> @Model.ViewVehicle.Model</p>
                    <p class="card-text"><strong>Plate Number:</strong> @Model.ViewVehicle.PlateNumber</p>
                    <p class="card-text"><strong>Year:</strong> @Model.ViewVehicle.Year</p>
                </div>
            </div>
        </div>
    </div>
</div>
