@using YemeniDriver.ViewModel.User
@model PassengerDetailsViewModel



@{
    ViewData["Title"] = "Passenger Dashboard";
}



<head>
    <link rel="stylesheet" href="~/css/Account/viewPassengerDetailsStyle.css" />
</head>

<div class="container" id="custom-container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <img src="@Model.Image" class="card-img-top img-fluid" alt="Driver Image">
                <div class="card-body">
                    <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
                    <p class="card-text"><strong>Email:</strong> @Model.Email</p>
                    <p class="card-text"><strong>Phone Number:</strong> @Model.PhoneNumber</p>
                    <p class="card-text"><strong>Rating:</strong> @Model.Rating</p>
                    <p class="card-text"><strong>Location:</strong> @Model.Location</p>
                </div>
            </div>
        </div>
    </div>
</div>
